body{
    background-color: #f4acb7;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 50px;
    justify-content: center;
    display: flex;
    font-family: 'Times New Roman';
    color:  rgb(222, 73, 98);
    text-shadow: 2px 2px 4px rgb(0, 0, 0); 
}

h2{
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.add{
    border: 2.5px rgb(172, 50, 70);
    background-color: rgb(222, 73, 98);
    border-radius: 10px;
}


.NaoUrgente {
    border: 2.5px solid #FFFF00;
    color: #FFFF00;
    border-radius: 10px;     
    padding: 10px;           
    margin: 10px;
    width: 300px;
    height: 300px; 
    vertical-align: top; 
    display: inline-block;
    margin-top: 20px;       
}

.Urgente {
    border: 2.5px solid #ff0000;
    color: #ff0000;
    border-radius: 10px;     
    padding: 10px;           
    margin: 10px;
    width: 300px;
    height: 300px; 
    vertical-align: top;    
    display: inline-block;
    margin-top: 20px; 
}